.listing {
  padding: 1rem 2rem;
  border: 1px solid #bbb;
  border-radius: 1rem;
  width: 100%;
  margin: 1.5rem 0;
}

.listing .title {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 1rem 0;
}

.listing .title b {
  font-weight: 800;
}

.date {
  font-size: 1.2rem;
}

.listing .actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.content {
  display: table;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 2rem;
}

.row {
  display: table-row;
  border-bottom: 1px solid #eee;
  height: 4rem;
}

.row > * {
  display: table-cell;
  vertical-align: middle;
}

@media screen and (max-width: 400px) {
  .content,
  .row,
  .row > * {
    display: block;
  }

  .row {
    height: auto;
    padding: 1rem 0;
  }

  .rowName {
    font-weight: bold;
  }
}

.tag {
  border-radius: 0.5rem;
  padding: 0.5rem 0.5rem;
  font-size: 1.2rem;
  background-color: #bbb;
  flex: 0;
}
