.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 4px solid #253f58;
  text-align: center;
  align-items: center;
  padding: 2rem 4rem;
  margin: 1rem;
}

.logo {
  height: 5rem;
  justify-self: flex-start;
}

.headerTitle {
  justify-self: flex-end;
}

@supports (display: grid) {
  .header {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-flow: row;
  }
}

@media screen and (max-width: 768px) {
  .header {
    justify-content: center;
    align-items: center;
  }

  .logo {
    justify-self: center;
  }

  .headerTitle {
    justify-self: center;
  }
}
