.footer {
  height: 12rem;
  border: 4px solid #253f58;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
  margin-top: 8rem;
  padding: 0 4rem;
}

.footerBody {
  display: flex;
  align-items: center;
  font-weight: 800;
}
