.actions {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.filters {
  flex: 1;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.filter {
  margin-bottom: 0;
}

.filter:first-of-type,
.filter:not(:last-of-type) {
  margin-right: 0.4rem;
}

.selectedFilter {
  background-color: white;
  border: 0.2rem #e39774 solid;
  color: #e39774;
  pointer-events: none;
}



@media only screen and (max-width: 411px) {
    .actions {
        display: block;
        flex: 1;
        flex-direction: column;
        justify-content: center;
    }

    .actions a button {
        margin-top: 2rem;
        margin-bottom: 2rem;
        align-self: center;
        width: 100%;
    }

    .actions > * {
        flex: 1;
        width: 100%;
        margin-bottom: 1rem;
    }

    .filters {
        flex: 1;
        justify-content: center;
    }

    .filter {
        margin: .2rem;
        width: 80%;
    }
}
