.actions {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media only screen and (max-width: 50rem) {
  .actions {
    display: block;
  }

  .actions > * {
    width: 100%;
    margin-bottom: 1rem;
  }
}

.filters {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.filter {
  margin-bottom: 0;
}

.filter:first-of-type,
.filter:not(:last-of-type) {
  margin-right: 0.4rem;
}

.selectedFilter {
  background-color: white;
  border: 0.2rem #e39774 solid;
  color: #e39774;
  pointer-events: none;
}
